.div_img{
    height: 80vh;
}

.div_login{
    background-color: white;
    box-shadow: 1px 1px 15px #202020;
    height: 50vh;
    width: 45vw;
    margin: 5vh auto;
}

.container_login{
    text-align: left;
    padding: 4vh;
    width: 80%;
    margin: 0 auto;
}

.container_login h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 3vh;
}

.container_login input{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
    width: 70%;
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 2vh;
    padding: 0.5vh 1vw;
}

#id_senha{
    width: 30%;
}

.container_login .botao{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin-top: 5vh;
    width: 35%;
    background: white;
    cursor: pointer;
    transition: 0.5s;
}

.container_login .botao:hover{
    background: #EE7A26;
}